.key {
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
}
.value {
  font-size: 14px;
  font-family: sans-serif;
}
.productImgContainer {
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-align: center;
}
.productImgContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.modal-header {
  padding: 5px 15px;
  background-color: #333;
}
.modal-title {
  font-size: 18px;
  color: #fff;
}
.modal-footer {
  padding: 5px 15px;
}

.actionBtnContainer {
  display: flex;
  align-items: center;
}

.actionBtnContainer > button {
  border: 0;
  margin: 0 5px;
  font-size: 14px;
}

.actions {
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.add-action {
  background-color: #1a0d84;
}
.delete-action {
  background-color: #9c1111;
}
.edit-action {
  background-color: #ce7404;
}

.category-title {
  font-weight: bold;
  padding: 15px;
  margin: 10px 0px 30px 10px;
  font-size: 30px;
  color: #150a71;
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.6);
}

.action-title {
  color: #1d208e;
  font-weight: bold;
  font-size: 18px;
}

.react-checkbox-tree {
  padding: 20px 0px;
}

.rct-node {
  padding: 10px 0;
  margin: 10px 0px;
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.6);
}

.rct-checkbox {
}
.rct-node-icon {
  display: none;
}

.modal-header {
  background-color: #1a0e80;
  padding: 15px;
}

.modal-backdrop.show {
  opacity: 0.9 !important;
}

.form-search {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
